@{
    ViewData["Title"] = "Về chúng tôi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Begin Main Content Area -->
<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" style="background-image: url('/images/anh/banner-about.jpg');">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item" style="margin-top:-9%">
                        <h2 class="breadcrumb-heading" style="color:red">Giới thiệu về chúng tôi</h2>
                        <ul style="color:red">
                            <li>
                                <a style="color:red" href="/">Trang chủ <i class="pe-7s-angle-right"></i></a>
                            </li>
                            <li>Giới thiệu</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-banner different-bg-position section-space-y-axis-100" data-bg-image="~/assets/images/about/banner/1-1-1920x598.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-5">
                    <div class="parallax-img-wrap">
                        <div class="papaya">
                            <div class="scene fill">
                                <div class="expand-width">
                                    <img src="~/images/anh/about_1-1.jpg" alt="Banner Images">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7 align-self-center">
                    <div class="about-banner-content">
                        <div class="section-title">
                            @* <span class="sub-title">ADIDAS</span> *@
                            <h3 class="title font-size-80 mb-6">KHỞI ĐẦU TỪ NHỮNG BƯỚC CHÂN NHỎ</h3>
                            <p class="short-desc mb-0">
                                Mọi hành trình lớn lao đều bắt đầu từ một điều giản dị. Câu chuyện của chúng tôi khởi nguồn từ niềm tin rằng: mỗi bước chân đầu đời của trẻ nhỏ đều xứng đáng được nâng niu bằng những đôi giày tốt nhất. Tại một góc nhỏ đầy ắp tình yêu dành cho trẻ em, chúng tôi đã bắt đầu hành trình tạo ra những đôi giày không chỉ đẹp mắt mà còn êm ái, bền bỉ và an toàn cho những đôi chân bé nhỏ đang lớn lên từng ngày.
                                Từ những bước chân chập chững đầu tiên, đến ngày đầu đến lớp hay những giờ vui chơi không ngừng nghỉ – chúng tôi tự hào đồng hành cùng các bé trên mỗi chặng đường phát triển. Những nụ cười, những vết bùn đất trên giày, những cuộc phiêu lưu bé con… chính là dấu ấn đầu tiên trong câu chuyện đầy sắc màu của TIEENS Shop – nơi mỗi đôi giày đều mang theo một ước mơ nhỏ.
                            </p>
                            <div class="button-wrap pt-8">
                                <a class="btn btn-custom-size lg-size btn-primary btn-dark-hover rounded-0" href="shop.html">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="intro-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="intro-item text-white d-flex flex-column">
                        <div class="intro-img position-relative overflow-hidden">
                            <img src="~/images/anh/about_2.jpg" class="w-100 h-100" style="object-fit: cover; min-height: 450px;" alt="Background">
                        </div>
                        <div class="intro-content text-center p-4 bg-dark text-white">
                            <h3 class="title mb-3">TIEENS</h3>
                            <p class="short-desc mb-0">KHỞI ĐẦU TỪ NHỮNG BƯỚC CHÂN NHỎ</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="intro-item text-white d-flex flex-column">
                        <div class="intro-img position-relative overflow-hidden">
                            <img src="~/images/anh/about_3.jpg" class="w-100 h-100" style="object-fit: cover; min-height: 450px;" alt="Background">
                        </div>
                        <div class="intro-content text-center p-4 bg-dark text-white">
                            <h3 class="title mb-3">TIEENS</h3>
                            <p class="short-desc mb-0">KHỞI ĐẦU TỪ NHỮNG BƯỚC CHÂN NHỎ</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="intro-item text-white d-flex flex-column">
                        <div class="intro-img position-relative overflow-hidden">
                            <img src="~/images/anh/about_4.jpg" class="w-100 h-100" style="object-fit: cover; min-height: 450px;" alt="Background">
                        </div>
                        <div class="intro-content text-center p-4 bg-dark text-white">
                            <h3 class="title mb-3">TIEENS</h3>
                            <p class="short-desc mb-0">KHỞI ĐẦU TỪ NHỮNG BƯỚC CHÂN NHỎ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="about-banner about-banner-height" style="margin-left: 25%;background-image: url('/assets/images/logo/logo.png');background-size: cover;background-position: center;width: 50%;height: 50%;/* text-align: center; */">
        <div class="popup-btn">
            <a class="popup-vimeo wave-btn" href="https://youtu.be/lWAS7GhICog?si=YF1pbR1_4krBmc4K?autoplay=1">
                <span></span>
                <span></span>
                <span></span>
                <div class="icon">
                    <i class="fa fa-play"></i>
                </div>
            </a>
        </div>
    </div>
    <div class="team-member section-space-top-100">
        <div class="container">
            <div class="section-title text-center pb-55">
                <span class="sub-title text-primary">TIEENS</span>
                <h2 class="title mb-0">Đội ngũ sáng lập của chúng tôi</h2>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="swiper-container team-member-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="team-member-item">
                                    <div class="team-member-img img-zoom-effect with-overlay">
                                        <a href="javascript:void(0)">
                                            <img class="img-full" src="~/assets/images/about/team/1.jpg" alt="Team Member" style="height:370px">
                                        </a>
                                    </div>
                                    <div class="team-member-content text-black pt-5">
                                        <h6 class="title mb-0">Adolf Dassler</h6>
                                        <span class="occupation">Nhà sáng lập</span>
                                        <div class="social-link with-border justify-content-center pt-2">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-pinterest-p"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-tumblr"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-dribbble"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team-member-item">
                                    <div class="team-member-img img-zoom-effect with-overlay">
                                        <a href="javascript:void(0)">
                                            <img class="img-full" src="~/assets/images/about/team/2.jpg" alt="Team Member">
                                        </a>
                                    </div>
                                    <div class="team-member-content text-black pt-5">
                                        <h6 class="title mb-0">Rudolf Dassler</h6>
                                        <span class="occupation">Đồng sáng lập</span>
                                        <div class="social-link with-border justify-content-center pt-2">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-pinterest-p"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-tumblr"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-dribbble"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team-member-item">
                                    <div class="team-member-img img-zoom-effect with-overlay">
                                        <a href="javascript:void(0)">
                                            <img class="img-full" src="~/assets/images/about/team/3.jpg" alt="Team Member">
                                        </a>
                                    </div>
                                    <div class="team-member-content text-black pt-5">
                                        <h6 class="title mb-0">Käthe Dassler</h6>
                                        <span class="occupation">Nhà điều hành</span>
                                        <div class="social-link with-border justify-content-center pt-2">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-pinterest-p"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-tumblr"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-dribbble"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main Content Area End Here -->
<!-- Begin Shipping Area -->
<div class="shipping-area section-space-y-axis-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="shipping-item">
                    <div class="shipping-img">
                        <img src="~/assets/images/shipping/icon/plane.png" alt="Shipping Icon">
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Miễn phí giao hàng</h5>
                        <p class="short-desc mb-0">Ưu đãi giao hàng tận nhà</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-6 pt-md-0">
                <div class="shipping-item">
                    <div class="shipping-img">
                        <img src="~/assets/images/shipping/icon/earphones.png" alt="Shipping Icon">
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Hỗ trợ trực tuyến</h5>
                        <p class="short-desc mb-0">Hỗ trợ trực tuyến 24/7</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-6 pt-lg-0">
                <div class="shipping-item">
                    <div class="shipping-img">
                        <img src="~/assets/images/shipping/icon/shield.png" alt="Shipping Icon">
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Thanh toán an toàn</h5>
                        <p class="short-desc mb-0">Hệ thống thanh toán an toàn</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shipping Area End Here -->
