@{
    ViewData["Title"] = "Về chúng tôi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Begin Main Content Area -->
<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" style="background-image: url('/images/anh/about.jpg');">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h2 class="breadcrumb-heading">Giới thiệu về chúng tôi</h2>
                        <ul>
                            <li>
                                <a href="/">Trang chủ <i class="pe-7s-angle-right"></i></a>
                            </li>
                            <li>Giới thiệu</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-banner different-bg-position section-space-y-axis-100" data-bg-image="~/assets/images/about/banner/1-1-1920x598.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-5">
                    <div class="parallax-img-wrap">
                        <div class="papaya">
                            <div class="scene fill">
                                <div class="expand-width">
                                    <img src="~/images/anh/about_1.jpg" alt="Banner Images">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7 align-self-center">
                    <div class="about-banner-content">
                        <div class="section-title">
                            <span class="sub-title">ADIDAS</span>
                            <h2 class="title font-size-60 mb-6">Những năm đầu</h2>
                            <p class="short-desc mb-0">Mọi câu chuyện tuyệt vời đều có khởi đầu. Câu chuyện này bắt đầu ở một thị trấn nhỏ tại Bavaria, Đức. Sau khi bắt đầu trong phòng giặt ủi của mẹ mình, Adi Dassler và anh trai đã đăng ký 'Gebrüder Dassler Schuhfabrik' vào năm 1924 và Adi bắt đầu sứ mệnh cung cấp cho các vận động viên những thiết bị tốt nhất có thể. Huy chương vàng tại Amsterdam (1928), Los Angeles (1932) và Berlin (1936) là những phần thưởng và cột mốc đầu tiên - và chỉ là khởi đầu cho câu chuyện của chúng ta.</p>
                            <div class="button-wrap pt-8">
                                <a class="btn btn-custom-size lg-size btn-primary btn-dark-hover rounded-0" href="shop.html">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="intro-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="intro-item text-white d-flex flex-column">
                        <div class="intro-img position-relative overflow-hidden">
                            <img src="~/images/anh/about_2.jpg" class="w-100 h-100" style="object-fit: cover; min-height: 450px;" alt="Background">
                        </div>
                        <div class="intro-content text-center p-4 bg-dark text-white">
                            <h3 class="title mb-3">Adi Dassler</h3>
                            <p class="short-desc mb-0">Người sáng lập thương hiệu adidas, tại nhà máy giày Gebrüder Dassler Schuhfabrik.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="intro-item text-white d-flex flex-column">
                        <div class="intro-img position-relative overflow-hidden">
                            <img src="~/images/anh/about_3.jpg" class="w-100 h-100" style="object-fit: cover; min-height: 450px;" alt="Background">
                        </div>
                        <div class="intro-content text-center p-4 bg-dark text-white">
                            <h3 class="title mb-3">Lina Radke</h3>
                            <p class="short-desc mb-0">Vận động viên điền kinh người Đức đi giày Gebrüder Dassler tại cuộc thi điền kinh .</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="intro-item text-white d-flex flex-column">
                        <div class="intro-img position-relative overflow-hidden">
                            <img src="~/images/anh/about_4.jpg" class="w-100 h-100" style="object-fit: cover; min-height: 450px;" alt="Background">
                        </div>
                        <div class="intro-content text-center p-4 bg-dark text-white">
                            <h3 class="title mb-3">Adi Dassler</h3>
                            <p class="short-desc mb-0">Người sáng lập thương hiệu adidas đang trao đổi và lắng nghe ý kiến phản hồi từ các vận động viên.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="about-banner about-banner-height" style="background-image: url('/assets/images/about/banner/2-1-1920x500.jpg'); background-size: cover; background-position: center;">
        <div class="popup-btn">
            <a class="popup-vimeo wave-btn" href="https://player.vimeo.com/video/172601404?autoplay=1">
                <span></span>
                <span></span>
                <span></span>
                <div class="icon">
                    <i class="fa fa-play"></i>
                </div>
            </a>
        </div>
    </div>
    <div class="team-member section-space-top-100">
        <div class="container">
            <div class="section-title text-center pb-55">
                <span class="sub-title text-primary">ADIDAS</span>
                <h2 class="title mb-0">Đội ngũ sáng lập của chúng tôi</h2>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="swiper-container team-member-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="team-member-item">
                                    <div class="team-member-img img-zoom-effect with-overlay">
                                        <a href="javascript:void(0)">
                                            <img class="img-full" src="~/assets/images/about/team/1-1-370x350.jpg" alt="Team Member">
                                        </a>
                                    </div>
                                    <div class="team-member-content text-black pt-5">
                                        <h6 class="title mb-0">Adolf Dassler</h6>
                                        <span class="occupation">Nhà sáng lập</span>
                                        <div class="social-link with-border justify-content-center pt-2">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-pinterest-p"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-tumblr"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-dribbble"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team-member-item">
                                    <div class="team-member-img img-zoom-effect with-overlay">
                                        <a href="javascript:void(0)">
                                            <img class="img-full" src="~/assets/images/about/team/1-2-370x350.jpg" alt="Team Member">
                                        </a>
                                    </div>
                                    <div class="team-member-content text-black pt-5">
                                        <h6 class="title mb-0">Rudolf Dassler</h6>
                                        <span class="occupation">Đồng sáng lập</span>
                                        <div class="social-link with-border justify-content-center pt-2">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-pinterest-p"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-tumblr"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-dribbble"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team-member-item">
                                    <div class="team-member-img img-zoom-effect with-overlay">
                                        <a href="javascript:void(0)">
                                            <img class="img-full" src="~/assets/images/about/team/1-3-370x350.jpg" alt="Team Member">
                                        </a>
                                    </div>
                                    <div class="team-member-content text-black pt-5">
                                        <h6 class="title mb-0">Käthe Dassler</h6>
                                        <span class="occupation">Nhà điều hành</span>
                                        <div class="social-link with-border justify-content-center pt-2">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-pinterest-p"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-tumblr"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-dribbble"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main Content Area End Here -->
<!-- Begin Shipping Area -->
<div class="shipping-area section-space-y-axis-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="shipping-item">
                    <div class="shipping-img">
                        <img src="~/assets/images/shipping/icon/plane.png" alt="Shipping Icon">
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Miễn phí giao hàng</h5>
                        <p class="short-desc mb-0">Ưu đãi giao hàng tận nhà</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-6 pt-md-0">
                <div class="shipping-item">
                    <div class="shipping-img">
                        <img src="~/assets/images/shipping/icon/earphones.png" alt="Shipping Icon">
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Hỗ trợ trực tuyến</h5>
                        <p class="short-desc mb-0">Hỗ trợ trực tuyến 24/7</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-6 pt-lg-0">
                <div class="shipping-item">
                    <div class="shipping-img">
                        <img src="~/assets/images/shipping/icon/shield.png" alt="Shipping Icon">
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Thanh toán an toàn</h5>
                        <p class="short-desc mb-0">Hệ thống thanh toán an toàn</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shipping Area End Here -->
