@model K21CNT2_2110900086_DATN.Models.Category

@{
    ViewData["Title"] = "Chi tiết dah mục";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<style>
    /* Điều chỉnh để tạo khoảng cách với menu ,bị menu che mất*/
    .card {
        margin-top: 10px;
    }
    .page-header{
        margin-top: 80px;
    }
</style>
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminCategories" asp-action="Index">Danh mục sản phẩm</a>
            <span class="breadcrumb-item active">Chi tiết danh mục sản phẩm</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Chi tiết danh mục sản phẩm</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>Mã danh mục </td>
                        <td class="text-dark font-weight-semibold">@Model.CategoryId</td>
                    </tr>
                    <tr>
                        <td>Tên danh mục </td>
                        <td>@Model.CategoryName</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
